* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}

.navbar {
  background-color: transparent !important;
}

.navbar.scrolled {
  background-color: #15161a !important;
  transition: background-color 0.2s linear;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.navbar-menu a.navbar-item::after {
  transition: background 5s linear;
}

.navbar-menu a.navbar-item:hover {
  color: white;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    transparent,
    transparent
  );
}

.navbar-menu a.navbar-item:hover:after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.zoom-img {
  margin-top: 7rem;
  overflow: hidden;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  transition: border 0.2s ease-out;
}

.zoom-img::after {
  content: attr(data-text);
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  font-weight: 1000;
  font-size: 36px;
  font-style: italic;
  bottom: 0px;
  right: 1rem;
}

.zoom-img::before {
  content: "RG SERIES";
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  font-weight: 1000;
  font-size: 120px;
  font-style: italic;
  bottom: 0;
}

.zoom-img:hover {
  cursor: move;
  border: 1px white solid;
  border-bottom: 2px solid white;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.main-content {
  background-image: url(https://images.unsplash.com/photo-1526478806334-5fd488fcaabc?q=80&w=2116&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: left center;
  padding: 0.5rem;
  color: white;
}

.main-content::before {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-content h1 {
  margin-top: 4rem;
}

.main-content .content ul {
  margin-top: 3rem;
  list-style: none;
}

.main-content .content ul li {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 3rem;
}

.main-content .content ul li span {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.color-1,
.color-2,
.color-3 {
  box-shadow: 0px 0px 15px rgba(75, 78, 236, 0.3);
}

.color-1 {
  background-color: #000000;
}

.color-2 {
  background-color: #0000fe;
}

.color-3 {
  background-color: #8b4512;
}

.is-active-color {
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
}

.card-image {
  overflow: hidden;
}

.is-active-burger {
  animation: rotation 0.5s ease-in-out;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 1076px) {
  .level.with-scroll {
    overflow: scroll;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 90%;
  }

  .container iframe {
    height: 28rem;
  }

  .level.with-scroll {
    overflow: scroll;
  }
}

@media screen and (max-width: 821px) {
  .zoom-img::after {
    font-size: 24px;
  }

  .zoom-img::before {
    font-size: 80px;
  }
}

@media screen and (max-width: 550px) {
  .zoom-img::after {
    font-size: 12px;
  }

  .zoom-img::before {
    font-size: 50px;
  }

  .container iframe {
    height: 24rem;
  }
}

/* @media screen and (max-width: 530px) {
  aaa 
} */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
