.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}

.zoom-img {
  margin-top: 7rem;
  overflow: hidden;
}

.zoom-img:hover {
  cursor: move;
  border: 1px white solid;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.main-content {
  background-image: url(https://images.unsplash.com/photo-1526478806334-5fd488fcaabc?q=80&w=2116&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: left center;
  color: white;
  padding-top: 1rem;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-content h1 {
  margin-top: 4rem;
}

.main-content .content ul {
  margin-top: 3rem;
  list-style: none;
}

.main-content .content ul li {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 3rem;
}

.main-content .content ul li span {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.is-active-color {
  border: 3px solid white;
  border-radius: 50%;
}

.color-1 {
  background-color: #000000;
}

.color-2 {
  background-color: #0000fe;
}

.color-3 {
  background-color: #8b4512;
}

.card-image {
  overflow: hidden;
}
